.sidebar {
    position: fixed !important;
    height: 100vh;
    overflow: hidden !important;
}

.side_bar_menu_list {
    height: 95vh;
    overflow-y: auto;
    padding-bottom: 30px;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
}

.ant-menu-item-icon {
    font-size: 24px !important;
    color: #5d6a83;
}

/* .collapsed-sider {
    left: 0 !important;
} */

.ant-menu-title-content {
    color: #2a313c;
}

.sidebar_top {
    margin-top: 42px;
    width: 100%;
}

.side_bar_menu_list hr {
    border: 1px solid #475467;
}

.ant-layout-sider {
    min-width: 280px !important;
    background: #fafafa !important;
    padding: 16px;
}

.ant-menu {
    background: transparent !important;
}

.ant-menu .ant-menu-item {
    color: #2a313c;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.complite_profile {
    padding: 16px;
    background: var(--secondary-color);
    color: var(--white-color);
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.complite_profile p,
.complite_profile span{
    color: var(--white-color) !important;
    font-size: var(--small-font-size);
}

.complite_profile p.title{
    font-weight: 500;
    font-size: var(--small-font-size);
}
.complite_profile span{
    margin-top: 8px;
}

.complite_profile span a{
    font-weight: 500;
    color: var(--white-color) !important;
    margin-left: 10px;
    font-size: var(--small-font-size);
}

.complite_profile .ant-progress-inner {
    width: 64px !important;
    height: 64px !important;
    font-size: 16px;
    margin-bottom: 16px;
}

.complite_profile .ant-progress-text {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--white-color) !important;
}

.complite_profile p {
    color: var(--gray-200);
    font-size: var(--small-font-size);
}

.sidenav_user,
.sidenav_user .user {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.sidenav_user .user p span {
    font-size: var(--small-font-size);
    color: var(--description-color);
}

.sidenav_user .user p {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: 500;
}

.sidenav_user .user p.gmail {
    color: var(--description-color);
    font-weight: 400;
}

.sidenav_user .user_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100px;
}

.sidenav_user .logout_icon {
    rotate: -90deg;
    font-size: 24px;
}

.fixed-header {
    position: sticky !important;
    top: 0;
    z-index: 100;
    margin-left: 0 !important;
}

.ant-layout-header {
    background: var(--white-color);
    border-radius: 16px;
    border: 1px solid #cbd5e0;
    display: flex;
    align-items: center;
    margin: 10px;
}

.topbar_nav_item {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    gap: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.right_nav_item,
.top_nav_icon_list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.top_nav_icon_list img {
    min-width: 20px;
    min-height: 20px;
}

.header_toggle_btn {
    margin-left: 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    min-width: 50px;
    min-height: 50px;
    background: #0000001a;
}

.top_nav_sell_btn{
    padding: 5px 10px;
    background: #1a202c;
    color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: normal;
    border-radius: 8px;
    min-width: max-content;
}

:where(.css-dev-only-do-not-override-byeoj0) a:hover{
    color: var(--white-color) !important;
}

.top_nav_sell_btn img {
    min-width: 10px !important;
    min-height: 10px !important;
}

.header_toggle_btn .icons {
    font-size: 30px !important;
    color: var(--title-color)
}

.header_toggle_btn:hover {
    background: none !important;
}

.right_nav_item .T_mobile {
    padding-left: 30px;
    border-left: 1px solid var(--border-color);
    line-height: normal;
}


aside.ant-layout-sider.ant-layout-sider-dark {
    position: fixed;
    background: #FAFAFA !important;
    padding-top: 30px;
}


li.ant-menu-item {
    padding-left: 12px !important;
    padding-right: 12px !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

li.ant-menu-item.ant-menu-item-active {
    background: #febb0250 !important;
}

li.ant-menu-item.ant-menu-item-active .ant-menu-item-icon {
    color: #1A202C;
}

li.ant-menu-item.ant-menu-item-selected {
    padding-left: 12px !important;
    background: var(--primary-color)
}


.body_layout {
    margin-left: 280px;
}

.ant-progress-circle-path{
    stroke: #F2F4F7 !important;
    stroke-width: 12;
}

circle.ant-progress-circle-trail{
    stroke-width: 12;
}



@media screen and (max-width: 1250px) {
    .header_toggle_btn {
        display: block;
    }

    .body_layout {
        margin-left: 10px;
    }

    .ant-layout.hide_body_layout.css-byeoj0,
    .ant-layout.hide_body_layout.css-dev-only-do-not-override-byeoj0 {
        margin-left: 280px;
    }

    aside.ant-layout-sider {
        left: -100%;
    }

    aside.ant-layout-sider.ant-layout-sider-dark.hide_side_navbar {
        left: 0;
    }
}