@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&display=swap");

:root {
  /* COLOR */
  --primary-color: #feb902;
  --secondary-color: #09a4ef;
  --title-color: #101828;
  --description-color: #718096;
  --white-color: #ffffff;
  --gray-200: #e4e7ec;
  --border-color: #e2e8f0;
  /* TYPOGRAPHY */
  --body-font: "Inter", sans-serif;
  --title-font: "Manrope", sans-serif;
  /* Font Size */
  --h1-font-size: 32px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  /* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-ex-bold: 800;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: #fafafa;
}

h1,
h2,
h3,
ul {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: var(--font-ex-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: var(--font-ex-bold);
}

h3 {
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: var(--font-ex-bold);
}

p {
  font-size: var(--normal-font-size);
  color: var(--description-color);
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--description-color);
}

hr {
  border: 1px solid var(--border-color);
}

img {
  max-width: 100%;
  height: auto;
}

.icons {
  font-size: 18px;
  color: var(--description-color);
}

.button {
  border: none !important;
}

textarea,
input {
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
}

.form-control {
  height: 50px;
}

.form-control::placeholder {
  font-size: var(--normal-font-size);
  color: #a0aec0;
}

input[type="checkbox"] {
  width: 16px;
}

label {
  font-size: 14px;
  font-weight: var(--font-medium);
}

.card {
  border: none;
}

/* Common css */

.ant-layout-content {
  background: #edf2f7;
  border-radius: 24px;
  padding: 20px 25px;
  margin-top: 100px !important;
}


:where(.css-dev-only-do-not-override-fpg3f5).ant-layout {
  background: #fafafa !important;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.breadcrumb_list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadcrumb_list li {
  list-style: none;
  cursor: pointer;
  line-height: normal;
}

.breadcrumb_list li.active {
  padding: 4px 8px;
  background: #e8edff;
  color: var(--secondary-color);
  border-radius: 6px;
}

.breadcrumb_list .icons {
  font-size: 24px;
}

.btn {
  padding: 12px 25px;
  background: var(--primary-color);
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 8px;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  font-weight: var(--font-bold);
}

.btn_s {
  padding: 12px 25px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 8px;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: var(--font-bold);
}

.btn_b {
  background: #101828;
  padding: 12px 16px;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
}

.btn_b .icons {
  color: var(--white-color);
}

.btn_s .icons {
  color: var(--primary-color);
}

.btn_b:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.btn_s:hover,
.btn:hover {
  background: var(--secondary-color);
  color: var(--white-color);
  border: 1px solid transparent !important;
}

.btn_group {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn_area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: auto;
  height: 32px;
}

.section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.section_title .text_area p {
  margin-top: 10px;
}

/* +++++++++++++
All pages css start
++++++++++++++++ */

/* =============== LogIn Page CSS ================= */

.logIn_page {
  /* padding: 20px; */
  padding-right: 0;
  width: 100%;
  height: 100vh !important;
}

.logIn_page .row {
  height: 100%;
}

.logIn_page .login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logIn_page .login_form .login_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logIn_page .form_area {
  width: 430px;
  text-align: center;
}

.logIn_page .form_area .desc {
  font-weight: var(--font-medium);
}

.logIn_page .form_area .remember_me {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logIn_page .form_area .remember_me p {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.logIn_page .form_area .fuP {
  font-weight: var(--font-medium);
  color: var(--secondary-color);
}

.logIn_page .form_area .btn {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.logIn_page .form_area .forget_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}

.logIn_page .form_area .redio_input {
  width: auto;
}

.logIn_page .login_form .lang_selector {
  display: flex;
  align-items: center;
  position: relative;
}

.logIn_page .login_form .lang_selector .icons {
  position: absolute;
  left: 8%;
  z-index: 1;
}

.logIn_page .login_form .lang_selector .selector {
  min-width: 160px;
  border-radius: 16px;
}

.logIn_page .login_form .lang_selector .selector .css-1fdsijx-ValueContainer {
  padding-left: 40px;
  border-radius: 8px;
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input-container .password-toggle-icon {
  position: absolute;
  right: 20px;
  color: var(--description-color);
}

.logIn_page .logIn_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.logIn_page .login_img {
  width: 100%;
  height: 100%;
  background: #edf2f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logIn_page .login_img img {
  margin: auto;
}

.css-hlgwow {
  padding-left: 40px !important;
}

/* =====================Dashboard====================== */
.dashboard_page .date_picker {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.ant-picker-input input {
  font-size: var(--normal-font-size);
  font-weight: 700;
}

.ant-picker-input input::placeholder {
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: #6f767e;
}

.ant-picker-input span.ant-picker-suffix {
  color: #1a202c;
}

.dashboard_page .all_card_group {
  margin-top: 32px;
  padding: 20px;
  background: var(--white-color);
  border-radius: 16px;
}

.dashboard_page .all_card_group .card {
  border-radius: 12px;
  background: #B5E4CA40;
  padding: 16px;
}

.dashboard_page .all_card_group .card .card_icons {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  background: #1A1D1F;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard_page .all_card_group .card .card_icons svg {
  font-size: 20px;
  color: var(--white-color);
}

.dashboard_page .all_card_group .card .card-body h1 {
  margin: 5px 0;
}

.dashboard_page .all_card_group .card .card-body .card_sm_title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dashboard_page .all_card_group .card .card-body p {
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--title-color);
}

.dashboard_page .all_card_group .card .card-body .card_status_text p {
  display: flex;
  align-items: center;
  background: var(--white-color);
  width: max-content;
  padding: 4px 8px;
  border-radius: 2px;
}

.dashboard_page .all_card_group .card .card-body .card_status_text .up {
  color: #83BF6E;
}

.dashboard_page .all_card_group .card .card-body .card_status_text .down {
  color: #FF6A55;
}

.dashboard_page .all_card_group .row {
  row-gap: 20px;
}


.dashboard_page .all_card_group .d_card_1 {
  background: #B5E4CA40;
}

.dashboard_page .all_card_group .d_card_2 {
  background: #BDFFD040;
}

.dashboard_page .all_card_group .d_card_3 {
  background: #BDFFD040;
}

.dashboard_page .all_card_group .d_card_4 {
  background: #FCE2B140;
}

.dashboard_page .all_card_group .d_card_5 {
  background: #DDE4B540;
}

.dashboard_page .all_card_group .d_card_6 {
  background: #FCB1EC40;
}

.dashboard_page .all_card_group .d_card_7 {
  background: #CABDFF40;
}

.dashboard_page .all_card_group .d_card_8 {
  background: #FCB1B140;
}


/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */